# AIM : To find out how many Features are required to capture 80% of variance by performing PCA

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [2]:
data_ohe = pd.read_csv(r"..\Data\full_ohe.csv")
data_ohe.head()

,age,default,housing,loan,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
0,0.481481,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
1,0.493827,0,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
2,0.246914,1,-1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
3,0.283951,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
4,0.481481,1,1,-1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0

In [3]:
data_le = pd.read_csv(r".\full_le.csv")
data_le.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,pdays2
0,0.481481,3,1,0,0,0,0,1,6,1,...,1.0,0.0,1,0.9375,0.698753,0.60251,0.957379,0.859735,0,0
1,0.493827,7,1,3,1,0,0,1,6,1,...,1.0,0.0,1,0.9375,0.698753,0.60251,0.957379,0.859735,0,0
2,0.246914,7,1,3,0,2,0,1,6,1,...,1.0,0.0,1,0.9375,0.698753,0.60251,0.957379,0.859735,0,0
3,0.283951,0,1,1,0,0,0,1,6,1,...,1.0,0.0,1,0.9375,0.698753,0.60251,0.957379,0.859735,0,0
4,0.481481,7,1,3,0,0,2,1,6,1,...,1.0,0.0,1,0.9375,0.698753,0.60251,0.957379,0.859735,0,0

## Appliying PCA on Label Encoded data

In [4]:
# raw data
X = data_le.drop('y', axis=1).values
y = data_le['y'].values

In [5]:
pca = PCA(n_components=0.8)
x_pca = pca.fit_transform(X)
X.shape, x_pca.shape

((73668, 20), (73668, 3))

## Appliying PCA on One Hot Encoded data

In [6]:
# raw data
X = data_ohe.drop('y', axis=1).values
y = data_ohe['y'].values

In [7]:
pca = PCA(n_components=0.8)
x_pca = pca.fit_transform(X)
X.shape, x_pca.shape

((73668, 55), (73668, 17))

# Observation1 : 
## We need 17 Features out of 55 Features to capture 80% of variance of one hot encoded data

# Observation2 :
## We need 3 Features out of 20 Features to capture 80% of variance of Label encoded data